<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Properties>
        <Property name="logdir">C:\</Property>
        <property name="pattern" value="%d %p %c.%M:%L - %m%n"/>
    </Properties>
    <Appenders>
        <RollingFile name="LogToFile"
                     fileName="${logdir}\logs\log.txt"
                     filePattern="${logdir}\logs\%d{yyyy-MM-dd}-%i.log">>
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1 MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="taxi" level="error" additivity="false">
            <AppenderRef ref="LogToFile"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="LogToFile"/>
        </Root>
    </Loggers>
</Configuration>
